.height320px {
    height: 320px;
    max-height: 320px;
    overflow: scroll;
}

.height350px {
    min-height: 350px;
    height: 350px;
    max-height: 350px;
    overflow: scroll;
}

.height200px {
    height: 200px;
    max-height: 200px;
    overflow: scroll;
}

.left {
    width: 49%;
    float: left;
    margin-right: 1%;
    min-height: 300px;
}

.right {

    width: 49%;
    float: right;
    margin-left: 1%;
    min-height: 300px;

}

/**
 * table row highlighting
 */

.hover_table tbody tr.even:hover, .hover_table tbody tr.even td.highlighted {
    background-color: #ECFFB3;
    cursor: pointer;
}

.hover_table tbody tr.odd:hover, .hover_table tbody tr.odd td.highlighted {
    background-color: #E6FF99;
    cursor: pointer;
}

.hover_table tr.even:hover {
    background-color: #ECFFB3;
    cursor: pointer;
}

.hover_table tr.even:hover td.sorting_1 {
    background-color: #DDFF75;
    cursor: pointer;
}

.hover_table tr.even:hover td.sorting_2 {
    background-color: #E7FF9E;
    cursor: pointer;
}

.hover_table tr.even:hover td.sorting_3 {
    background-color: #E2FF89;
    cursor: pointer;
}

.hover_table tr.odd:hover {
    background-color: #E6FF99;
    cursor: pointer;
}

.hover_table tr.odd:hover td.sorting_1 {
    background-color: #D6FF5C;
    cursor: pointer;
}

.hover_table tr.odd:hover td.sorting_2 {
    background-color: #E0FF84;
    cursor: pointer;
}

.hover_table tr.odd:hover td.sorting_3 {
    background-color: #DBFF70;
    cursor: pointer;
}

/**
 * zoom in grpahs mouse pointer change
 */

.graph_enter {
    cursor: pointer;
}

.horizontal-spacer{
    height: 20px;
}
.vertical-spacer{
    width: 20px;
}
